@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
}

@mixin responsive-grid-columns($size) {
  grid-template-columns: repeat(auto-fit, minmax($size, 1fr));
}

@mixin responsive-width($size) {
  width: $size;
}

@mixin background-darken($color) {
  background: darken($color, 3%);
}
