@import 'variables';
@import 'mixins';

:root {
  font-family: $font-stack;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: $primary-color;
  box-sizing: border-box;
}

.main {
  width: 100vw;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

button {
  border-radius: 9999px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
