.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.list__element {
  text-align: center;
  border-radius: 24px;
}

//.list__name {
//  margin: 5px auto 0;
//  font-weight: bolder;
//}
//
//.btn-detail {
//  position: relative;
//  z-index: 6;
//  border: none;
//  padding: 5px;
//  font-size: 12px;
//  font-weight: bold;
//  letter-spacing: 2px;
//  border-radius: 14px;
//  background-color: #136891;
//  color: #e5dfdf;
//}
