@import 'function';

.list {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(get-element-width(default), 1fr));
  padding: 40px;
  gap: 2rem;
}

.list__element {
  width: get-element-width(default);
}

@each $breakpoint, $width in $element-widths {
  @media (max-width: $breakpoint) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(get-element-width($breakpoint), 1fr));
    }

    .list__element {
      width: get-element-width($breakpoint);
    }
  }
}

